.content{
    position: absolute;
    left: 55%;
    top: 60%;
    transform: translate(-50%,-50%);
    padding: 20px 25px;
    width: 500px;
    
}
.content input{
 text-align: center;
 border: 2px solid black;
 padding: 2px 10px;
 color: black;
 border-radius: 12px;
 transition: 0.25s;
 cursor: pointer;
}
.content select{
 text-align: center;
 border: 2px solid black;
 padding: 2px 10px;
 color: black;
 border-radius: 12px;
 transition: 0.25s;
 cursor: pointer;
}
.content button{
    border: 0;
	background: blue;
 	margin: 20px auto;
 	text-align: center;
 	border: 2px solid red;
 	padding: 6.5px 30px;
 	outline: none;
 	color: white;
 	border-radius: 24px;
 	transition: 0.25s;
 	cursor: pointer;
}
.content a{
    border: 0;
	background: blue;
 	margin: 20px auto;
 	text-align: center;
 	border: 2px solid red;
 	padding: 8px 30px;
 	outline: none;
 	color: white;
 	border-radius: 24px;
 	transition: 0.25s;
 	cursor: pointer;
}
